body {
    margin: 0em 8em;
    /* padding: 10px; */
}

nav {
    text-align: right;
    /* font-size: 0.9em; */
    /* background: gray; */
    padding: 1em 0 0 0;
}

#blog_title {
    font-size: 3em;
    letter-spacing: 0.5ex;
    text-align:right;
    border-bottom: 2px dashed #eee;
    margin-top: 1em;
    margin-bottom: 1em;
}

.post_title a   {
	text-decoration: none;
	color: black
}

.post_title a:hover {
	color: black;
	text-decoration: underline;
} 

.post_meta h2 {
	margin: 0 1ex 0 0;
	display: inline-block;
}

p {
	margin-bottom: 1em;
}

article {
    margin-bottom: 3em;
}

a:link {
	color:black;
}

a:visited {
	color:gray;
}

.content {
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* border-bottom: 2px dashed #eee; */
    /* border-top: 2px dashed #eee; */
}

.post_controls {
	display: inline-block;
}

.comment_header a {
	text-decoration: none;
	color: black
}
.comment_header a:hover {
	color: black;
	text-decoration: overline;
} 

.post_date  {
    text-align: right;
    font-style: italic;
}

.post_list {
	/* background: url('/static/smile.png') no-repeat right bottom; */
	/* margin-top: 20px; */
}

#arr_navi {
    text-align: center;
    margin-bottom: 2em;
    /* margin-top: 30px; */
}

.post_body  {
    text-align: justify;
    margin: 2em 0;
    /* margin-top: -10px; */
    /* margin-bottom: 25px; */
    /* text-indent: 15px; */
}

/* ul.flashes    { */
    /* list-style-type: none; */
    /* padding: 0px; */
    /* margin: 0px; */
/* }; */

/* .flashes li.error { */
    /* background-color: red; */
/* } */

/* .flashes li.ok { */
    /* background-color: green; */
/* } */

/* .flashes li.info { */
    /* background-color: blue; */
/* } */

.page_footer {
    border-top: 2px dashed #eee;
    padding: 10px 0 0 0;
    margin-bottom: 1em;
    text-align:right;
    /* margin-top: 30px; */
}

textarea {
    font-family: monospace;
}

.comments_info {
	margin-top: 1em;
	text-align: right;
}

.comment_header {
	margin: 0;
	margin-bottom: 1em;
    /* margin-top: 40px; */
}

.comment_body {
	margin-bottom: 1em;
}

.comment_authorship {
	margin-bottom: 2em;
}

.post_headers {
	margin-bottom: 4em;
    /* margin-bottom: -20px; */
}

.post_comments h2 {
    /* margin-top: 50px; */
    /* margin-bottom: 20px; */
    /* border-bottom: 1px dotted #aaa; */
}

.post_comments {
    margin-bottom: 1em;
}

.floating_text {
    text-align: center;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
}
